
<label for="nam" class="rem">Nombre(*)</label>
<input type="text" id="nam" name="patient[name]" value="<%= patient.name %>" placeholder="<%= phName %>"/></br></br>
<label for="ema" class="rem">Email(*)</label>
<input type="text" id="ema" name="patient[email]" value="<%= patient.email %>" placeholder="<%= phEmail %>"/></br></br>
<a href="/patients"><button type="button">Cancelar</button></a>
<input type="submit" value="<%= btnLabel %>">
