<h2>Paciente Seleccionado</h2>
<p>Nombre: <%= patient.name %></p>
<p>Email: <%= patient.email %></p>

<h3>Añadir un peso</h3>
<!--<% console.log(locals); %>-->
<!--<% console.log("errors:"+errors); %>-->
<!--<% console.log("error:"+errors[0]); %>-->
<!--<% console.log("message Error:"+locals.messageErr); %>-->

<% if(errors.length) { %>
  <ul id="errorMsgs">
    <% for(var i in errors) { %>
      <li><%= errors[i].message %></li>
    <% } %>
  </ul>
<% } %>

<!-- % if(locals.messageErr) { %-->
  <!--p><%= locals.messageErr %></p-->
<!--% } % -->

<form method="post" action="/patients/<%= patient.id %>/weight">
  <label for="wei" class="rem">Weight(*)</label>
  <input type="number" step="0.01" id="wei" name="weight[weightVal]" value="" placeholder="0.00"/></br></br>
  <input type="submit" value="<%= btnLabel %>">
</form>
</br>

<% if(patient.Weights.length){ %>
  <h3><strong>Listado de pesos</strong></h3>
  <ul>
    <% for(index in patient.Weights){ %>
    <li>
      <%= patient.Weights[index].weightValue %> Kg
      <form method="post" action="<%=patient.id %>/weight/<%=index%>?_method=delete">
        <input type="hidden" name="weight" value="<%= patient.Weights[index]%>"/>
        <button type="submit" onClick="return confirm('Eliminar <%=patient.Weights[index].weightValue %> Kg del registro')">
          eliminar peso
        </button>
      </form>
    </li>
    <% } %>
  </ul>
<% } %>
